 <div class="user-details">
  <h1> About me </h1>
  <p>
    I am very passionate about JavaScript, its environment and its community.
    I am a very loyal defender of Open Source and I do my best to collaborate with different Open Source projects whenever I have the time.
    I have made some contributions to the following repositories, such as <b>AngularJS</b>, <b>Angular Material</b>, <b>npm</b> and <b>Jest</b>.
  </p>
  <p>Moreover, nowadays I am active member of the <b>Node.js Automation Team</b>.</p>

  <p>
      During these first years, I have been focused on learning as much as possible about Frontend development,
      which is what I wish to dedicate my professional career, as well as user interfaces design, usability and user experience.
  </p>

  <p>
      Being updated and informed in the most leading JavaScript framework and libraries is my top priority in order to acquire as much knowledge as possible.
      Therefore, GitHub is a very essential tool for myself.
  </p>

  <p>The management and coordination of projects and teams is a field in which I am very interested as well.</p>

  <p>I really enjoy what I do, and that encourages me to keep improving everyday so as to become a better professional.</p>

  <p>
      As far as my personal formation is concerned, I love to dedicate my free time to acquire more knowledge.
      As a matter of fact, <b>I am doing University Master in Computer Engineering</b>.
  </p>

</div>

<div class="user">
    <div class="tech">
      <h2>Skills</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-typescript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-angularjs-plain colored"></i>
      <i class="devicon-backbonejs-plain colored"></i>

      <i class="devicon-nodejs-plain-wordmark"></i>
      <i class="devicon-express-original colored"></i>

      <i class="devicon-jasmine-plain-wordmark colored"></i>
      <i class="devicon-mocha-plain colored"></i>
      <i class="devicon-protractor-plain-wordmark colored"></i>
      <i class="devicon-travis-plain"></i>

      <i class="devicon-coffeescript-original-wordmark colored"></i>
      <i class="devicon-jquery-plain-wordmark colored"></i>

      <i class="devicon-webpack-plain colored"></i>
      <i class="devicon-babel-plain colored"></i>
      <i class="devicon-bower-line-wordmark"></i>
      <i class="devicon-grunt-line-wordmark colored"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-nodewebkit-plain-wordmark colored"></i>

      <i class="devicon-git-plain colored"></i>
      <i class="devicon-github-plain-wordmark colored"></i>
      <i class="devicon-gitlab-plain-wordmark colored"></i>
      <i class="devicon-bitbucket-plain-wordmark colored"></i>

      <i class="devicon-docker-plain-wordmark colored"></i>
      <i class="devicon-amazonwebservices-plain-wordmark colored"></i>

      <i class="devicon-cucumber-plain colored"></i>

      <i class="devicon-mongodb-plain-wordmark colored"></i>
      <i class="devicon-redis-plain-wordmark colored"></i>

      <i class="devicon-html5-plain-wordmark colored"></i>
      <i class="devicon-css3-plain-wordmark colored"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>

      <i class="devicon-apple-original"></i>
      <i class="devicon-debian-plain colored"></i>
      <i class="devicon-windows8-original colored"></i>

    </div>
</div>
