<div class="user-details">
  <h1> Projects </h1>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="Node.js" src="{{ " /assets/img/nodejs.png " | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Generic Image Server </h3>
    <p class="skills">
      <b>Node.js</b>,
      <b>Express.js</b>,
      <b>Redis</b>,
      <b>Imagemagick</b>
    </p>
    <p>
      Image server implemented with Node.js. The server provides an image and resize it maintaining its aspect ratio. You need
      to specify a image resolution in order to resize it.
    </p>
    <a class="project-link" target="_blank" href="https://github.com/corunet/generic-image-server">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="MEAN" src="{{ " /assets/img/mean.png " | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Web Application for the Management of the Galician Association of American Football </h3>
    <p class="skills">
      <b>Node.js</b>,
      <b>Express.js</b>,
      <b>AngularJS</b>,
      <b>MongoDB</b>,
      <b>Angular Material</b>
    </p>

    <p>Degree Final Project.</p>
    <a class="project-link" target="_blank" href="https://github.com/alopezsanchez/agfa-webapp">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="angular" src="{{ " /assets/img/angular-rxjs.png " | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> My Open Weather App </h3>
    <p class="skills">
      <b>Angular 5</b>,
      <b>Angular Material 2</b>,
      <b>RxJS</b>,
      <b>Cypress</b>
    </p>

    <p>Personal project which shows the weather forecast and its evolution in Galicia (Spain).</p>
    <p>Code available
      <a href="https://github.com/alopezsanchez/openweathermap-webapp" target="_blank">here</a>.</p>
    <a class="project-link" target="_blank" href="https://my-open-weather-app.firebaseapp.com/cities">Check it out</a>
  </div>
</div>

<div class="ending">
  <h4>You can check all my activity on mi GitHub profile.</h4>
  <a class="github-button" href="https://github.com/alopezsanchez" data-size="large" data-show-count="true" aria-label="Follow @alopezsanchez on GitHub">Follow @alopezsanchez</a>
</div>